* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Ele.Elementos{
    height: 100%;
    width: 20%;
    border: 1px solid crimson;
    background-color: gold;
    float: left;
}
.opcion{
    border: 1px solid black;
    margin:0px;
    width: 100%;
    font-size:2em;
}
#cont.Elementos{
    height: 100%;
    width: 80%;
    border: 1px solid rgba(108, 108, 233, 0.705);
    background-color:blanchedalmond;
    float: left;
    text-align: center;
    font-size: 2em;
}
h1{
    transform: translateY(260px);
}
@media screen and (min-width:501px) and (max-width:750px){
    #Ele.Elementos{
        height: 10%;
        width: 100%;
        border: 1px solid crimson;
        background-color: gold;
        float: none;
    }
    .opcion{
        width: calc(100% / 4);
        height: 100%;
        float:left;
    }
    #cont.Elementos{
        height: 90%;
        width: 100%;
        border: 1px solid rgba(108, 108, 233, 0.705);
        background-color:blanchedalmond;
        float: left;
        text-align: center;
        font-size: 2em;
    }
}
@media screen and (max-width:500px){
    #Ele.contenedor{
        height: 40%;
        width: 100%;
        border: 1px solid crimson;
        background-color: gold;
        float: none;
    }
    #cont.Elementos{
        height: 60%;
        width: 100%;
        border: 1px solid rgba(108, 108, 233, 0.705);
        background-color:blanchedalmond;
        float: left;
        text-align: center;
        font-size: 2em;
    }
    .opcion{
        width: 100%;
        height: calc(100%/4);
        float:none;
        text-align: center;
    }
    h1{
        transform: translateY(180px);
    }
}

